<div class='headline'>
  <img src="../../assets/profilepic.jpg">

  <h1> Welcome!</h1>
</div>

<p>  I am a rising developer who recently graduated with a bachelors degree at Stevens Institute of Technology majoring in Computer Science.  While at Stevens I tried to experience as much as I can such as Studying abroad in Japan!</p>
<p>While I was at Stevens Institute of Technology, I participated in the schools Co-op program.  As a result, I had over 2 years worth of releveant work experience by the time I graduated from Stevens. </p>
<p>I have had the pleasure of leading several large projects during my time at several positions in my career.  Those projects ranged from leading the frontend Redesign of a mobile application to creating a trivia game for a senior design project.</p>
<p> Besides being a hard worker and a great student, I also enjoy fine dining, playing video gaems and traveling around visiting old friends around New Jersey, Pennsylvania and Connecticut</p>
