<div class='container .col-md-8 .col-sm-12'>

  <nav class="navbar navbar-default center" role="navigation">
    <div class="navbar-inner">
      <ul class="nav navbar-nav">
        <li role="presentation" class="active">  <a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li role="presentation" class="active">  <a routerLink="/work" routerLinkActive="active">Work Experience</a></li>
        <li role="presentation" class="active">  <a routerLink="/home" routerLinkActive="active">College Experience</a></li>
        <li role="presentation" class="active">  <a routerLink="/home" routerLinkActive="active">Personal Life</a></li>
        <li role="presentation" class="active">  <a routerLink="/home" routerLinkActive="active">Projects</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class='container .col-md-offset-2 .col-md-8 .col-sm-12'>
  <router-outlet></router-outlet>
</div>
