<div class='headline'>
  <img src="../../assets/stevens.jpg">

  <h1> The College Experience</h1>
</div>


<p>I started attending Stevens in the fall of 2017.  While there I attended several different clubs and activities.  I joined the Stevens Co-op program in order to insure that I would have the necessary job experience to get a job I desired.  I was a part of the Stevens Archery club, Gaming club and TCG club.  I also attended many campus activities where I gained friends that would last a lifetime.</p>

<h2>Japan</h2>
<img class='.col-md-6' src="../../assets/japan.png">
<span> One of my best experiences was studying abroad in Tokyo Japan from January 2015 to late April 2015.  </span>
