<div class='headline'>

  <h1> Work Experience</h1>
  <a href="#" class="btn btn-info" role="button" download>Download my Résumé</a>

</div>
<div class='workItem adp'>
  <h2 class=''>ADP June 2016 - July 2017</h2>
  <br>
  <div class='workContent'>
    <img class='.col-md-6' src="../../assets/adplogo.png">
    <span class='introPara'> I worked for ADP as a Mobile Web Developer for a little over a year.  I developed, tested and deployed code for the ADP Mobile app which has over 12 Million active users Worldwide!  I started off as an intern during the summer of 2016.  At the end of my internship, my team was impressed with my work and chose to hire me as a contractor.   My work was impressive enough that ADP offered me a job in the company at the end of my contract and I have since left ADP. </span>
      <p> While at ADP I worked as a Front-end Mobile Web Developer.  I worked in small team of iOS and Android Developers under the supervision of the Lead Front-end Developer and our Scrum Master.  While we had several developers working on the app, the only Front-end web developers were myself and the Lead Developer.  </p>
  </div>
</div>
